/******************************************************************/


/*             FEUILLE DE STYLE DE LA PAGE D'ACCUEIL              */


/******************************************************************/


/*------------------------------------------------------
 	CORPS DE LA PAGE
-------------------------------------------------------*/

body {
    font-family: Arial, Roboto, sans-serif;
    background: url(img/background.jpg) no-repeat no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/*------------------------------------------------------
 	ENTÊTE DE LA PAGE
-------------------------------------------------------*/

.header {
    padding: 10px 32px;
    color: #396;
    background-color: white;
    box-shadow: 1px 1px 10px grey;
}

.header img {
    height: 50px;
    margin-left: 15px;
}

.header .dropdown {
    margin-left: 0;
}

.header .dropdown>button {
    padding-right: 20px;
    padding-left: 20px;
    color: #396;
}

.navbar-header>button {
    height: 50px;
    background-color: white;
}


/*------------------------------------------------------
 	PIED DE LA PAGE
-------------------------------------------------------*/

footer {
    margin-top: 220px;
    padding: 0 50px;
    color: white;
    background-color: rgba(28, 35, 49, 0.568);
}

footer div.title_footer {
    margin-bottom: 15px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #21d192;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

footer iframe.col-sm-5 {
    padding-right: 0;
    padding-left: 30px;
    border: none;
}

#juridique {
    margin-top: 15px;
    padding: 10px 0;
    background-color: rgba(24, 31, 43, 0.78);
}

footer a {
    text-decoration: none;
    color: #21d192;
}

footer a:hover {
    text-decoration: none;
    color: lightgrey;
}

footer #links a {
    margin-bottom: 10px;
}

footer div.list-group a {
    border: none;
    color: #21d192;
    background-color: #1c2331;
}

#copyright {
    padding: 20px 0;
    background-color: #161c27;
}

a[href='https://www.oups.gouv.fr/']>img {
    width: 180px;
}

img[src="img/num_tel.png"] {
    height: 50px;
}

#google_maps {
    border: 0;
}


/*------------------------------------------------------
 	BOUTONS DE LA PAGE
-------------------------------------------------------*/

a.send_button {
    margin-top: 15px;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 1px 1px 5px rgba(22, 15, 29, 0.74);
    transition: background-color 1s, box-shadow 1s;
}

#first_button {
    color: rgb(71, 184, 122);
}

#first_button:hover {
    color: white;
    background-color: rgb(71, 184, 122);
    box-shadow: none;
}

#second_button {
    color: rgb(7, 69, 110);
}

#second_button:hover {
    color: white;
    background-color: rgb(7, 69, 110);
    box-shadow: none;
}

#third_button {
    color: rgb(110, 7, 7);
}

#third_button:hover {
    color: white;
    background-color: rgb(110, 7, 7);
    box-shadow: none;
}

.glyphicon {
    margin-right: 20px;
}


/*------------------------------------------------------
	MESSAGE DE LA PAGE (SURVOL DES BOUTONS)
-------------------------------------------------------*/

.msg {
    display: none;
    position: absolute;
    width: 500px;
    margin-top: 15px;
    padding: 15px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 30px;
    box-shadow: 1px 1px 5px rgba(22, 15, 29, 0.74);
    transition: background-color 1s, box-shadow 1s;
}

#msg_1 {
    border-bottom-left-radius: 0;
    color: white;
    background-color: rgba(1, 85, 37, 0.9);
}

#msg_2 {
    color: white;
    background-color: rgba(3, 30, 48, 0.9);
}

#msg_3 {
    border-top-left-radius: 0;
    color: white;
    background-color: rgba(48, 3, 3, 0.9);
}

.msg>h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}


/*------------------------------------------------------
	GESTION DU RESPONSIVE
-------------------------------------------------------*/

@media(max-width:410px) {
    a.send_button {
        width: 100%;
        margin-top: 5px;
        padding: 4px 10px;
        font-size: 15px;
    }
    footer {
        margin-top: 20px;
    }
}

@media(max-width:576px) and (min-width:410px) {
    #contact>* {
        text-align: center;
    }
    a.send_button {
        width: 100%;
        margin-top: 10px;
        padding: 8px 15px;
        font-size: 20px;
    }
    footer {
        margin-top: 40px;
    }
    .msg {
        width: 350px;
        margin-top: 15px;
    }
    .msg>h3 {
        font-size: 20px;
    }
    .msg>h4 {
        font-size: 15px;
    }
}

@media(max-width:768px) and (min-width:576px) {
    a.send_button {
        margin-top: 10px;
        font-size: 26px;
    }
    #button_container {
        text-align: center;
    }
    footer {
        margin-top: 40px;
    }
    .msg {
        width: 350px;
        margin-top: 15px;
    }
    .msg>h3 {
        font-size: 20px;
    }
    .msg>h4 {
        font-size: 15px;
    }
}

@media(max-width:768px) {
    .msg {
        z-index: 9999999;
    }
    #msg_1 {
        border-bottom-left-radius: 30px;
    }
    #msg_2 {
        border-top-left-radius: 30px;
    }
    #msg_3 {
        border-top-left-radius: 30px;
    }
}

@media(min-width:768px) {
    #button_container {
        margin-top: 150px;
    }
}


/* Gestion du responsive */
@media (max-width: 576px) {
	div.btn-status {
		height: 60px;
	}
	div.btn-status > h2 {
		font-size: 20px;
	}
}
@media (min-width: 576px) and (max-width : 768px) {
	div.btn-status {
		height: 80px;
	}
	div.btn-status > h2 {
		font-size: 25px;
	}
}
@media (min-width: 768px) and (max-width : 992px) {
	div.btn-status {
		height: 250px;
	}
	div.btn-status > h2 {
		font-size: 25px;
	}
}
@media (min-width: 992px) {
	div.btn-status {
		height: 250px;
	}
}

@media (min-width: 0px) and (max-width: 768px) {
	#contact > * {
		text-align: center;
	}
}

@media (min-width: 768px) {
	#contact > * {
		text-align: left;
	}
}