body {
	background: url(img/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Calibri";
}

.header {
	padding: 10px 32px;
	border: none;
	border-radius: 0px;
	background-color: #339966;
	color: white;
	box-shadow: 1px 1px 10px grey;
	margin-bottom: 150px;
}

.welcome {
	background-color: white;
	color: #339966;
}

.header img {
	margin-left: 15px;
	height: 50px;
}

.header .dropdown {
	margin-left: 0px;
}

.header .dropdown > button {
	color: #339966;
	padding-left: 20px;
	padding-right: 20px;
}

.navbar-header > button {
	height: 50px;
	background-color: white;
}

a.send_button {
	background-color: rgba(255, 255, 255, 0.774);
	box-shadow: 1px 1px 5px rgba(22, 15, 29, 0.74);
	text-decoration: none;
	margin-top: 15px;
	font-size: 30px;
	padding: 15px 20px;
	transition: background-color 1s, box-shadow 1s;
}

#first_button {
	color: rgb(71, 184, 122);
}
#first_button:hover {
	background-color: rgb(71, 184, 122);
	color: white;
	box-shadow: none;
}

#second_button {
	color: rgb(7, 69, 110);
}
#second_button:hover {
	background-color: rgb(7, 69, 110);
	color: white;
	box-shadow: none;
}

.msg {
	position: absolute;
	box-shadow: 1px 1px 5px rgba(22, 15, 29, 0.74);
	text-decoration: none;
	margin-top: 15px;
	font-size: 30px;
	padding: 15px 20px;
	width: 500px;
	border-radius: 30px;
	transition: background-color 1s, box-shadow 1s;
}

#msg_1 {background-color: rgba(1, 85, 37, 0.9); color: white; border-bottom-left-radius: 0px;}
#msg_2 {background-color: rgba(3, 30, 48, 0.9); color: white; border-top-left-radius: 0px;}

.msg > h3 {
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}

/*note*/
.note {
	font-style: italic;
	font-size: 0.75em;
	color: rgb(0, 224, 150);
}

/*footer*/
footer {
	margin-top: 220px;
	background-color: rgba(28, 35, 49, 0.568);
	color: white;
	padding: 0px 50px;
}

footer div.title_footer {
	padding-top: 30px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid #21d192;
	text-transform: uppercase;
}

footer iframe.col-sm-5 {
	padding-left: 30px;
	padding-right: 0px;
	border: none;
}

#juridique {
	margin-top: 15px;
	padding: 10px 0px;
	background-color: rgba(24, 31, 43, 0.78);
}

footer a {
	text-decoration: none;	
	color: #21d192;
}
footer a:hover {
	text-decoration: none;	
	color: lightgrey;
}

footer #links a {
	margin-bottom: 10px;
}

#copyright {
	padding: 20px 0px;
	background-color: #161c27;
}

footer div.list-group a {
	border: none;
	background-color: #1c2331;
	color: #21d192;
}

a[href='https://www.oups.gouv.fr/'] > img {
	width: 180px;
}

img[src="img/num_tel.png"] {
	height: 50px;
}

@media (max-width: 770px) {
	#contact > *{
		text-align: center;
	}
}