.header {
	padding: 10px 32px;
	border: none;
	border-radius: 0px;
	background-color: #339966;
	color: white;
	box-shadow: 1px 1px 10px grey;
	margin-bottom: 0px;
}

.header img {
	margin-left: 15px;
	height: 50px;
}

.header .dropdown {
	margin-left: 0px;
}

.header .dropdown > button {
	color: #339966;
	padding-left: 20px;
	padding-right: 20px;
}

.navbar-header > button {
	height: 50px;
}

#research, #data-table {
	margin: 20px 0px;
}

#research {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

#container_form {
	padding: 30px 20px;
}

#container_form h2 {
	margin-bottom: 35px;
}

#container_form a {
	margin-left: 35px;
}

.container-accueil {
	margin: 5% 0%;
}

.glyphicon {
	margin: 0px 5px;
}

.police {
	font-size: 17px;
}
.titre {
	font-size: 23px;
}

#panel-pjs .panel-body, #panel-apercu .panel-body {
	overflow-y: scroll;
	padding: 0px;
}

#apercu {
	width: 100%;
	border: none;
}

/*Boite de dialogue pour l'envoi d'un mail*/
#mail_text {
	width: 100%;
}

/* Listes des pièces justificatives */
#panel-pjs li {
	box-shadow: 1px 1px 3px black;
	cursor: pointer;
}
#panel-pjs li h5{
	margin: 0px;
}
#panel-pjs li:hover {
	background-color: lightgray;
	box-shadow: 1px 1px 3px black inset;
}

.pj-selected {
	background-color: gray;
	color: white;
	box-shadow: 1px 1px 10px black;
}

#confirmation_inscription {
	margin-top: 100px;
    width: 80%;
	padding: 30px;
	border: 1px solid #f1f1f1;
	background: #fff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#filter_button > .row > * {
	margin-bottom: 15px;
}

.icon {
	height: 45px;
	margin-right: 10px;
}

/* Message */
div.alert {
	margin: 30px 150px;
	margin-top: 0px;
	margin-bottom: 20px;
	min-width: 440px;
}
div.alert > h3 {
	margin-top: 0px;
}

/* Bouton de fermeture de message */
#msg_close {
	float: right;
	font-size: 24px;
}
#msg_close:hover {color: rgb(0, 0, 0, 0.25);}
#msg_close + h3 {margin-top: 0px;}