body {
    background-color: WhiteSmoke;
    font-family: Helvetica,sans-serif;
}

.container {
    width: 600px;
    margin-top: 5%;
}

/* Bordered form */
form {
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.container h2{
    width: 60%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label {    
    margin-top: 16px;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #03057B;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    border: 1px solid #03057B;
    width: 100%;
    font-weight: bold;
    transition: background-color 0.5s, color 1s;
}
input[type=submit]:hover {
    background-color: white;
    color: #03057B;
}
#oubli{
    float:right;
}

.champ_obligatoire {
    font-style: italic;
    color: #03057B;
}

a{
    color: #03057B;
    text-decoration: none;
}

a:hover{
    color: dodgerblue;
}
