.header {
	padding: 10px 32px;
	border: none;
	border-radius: 0px;
	background-color: #339966;
	color: white;
	box-shadow: 1px 1px 10px grey;
	margin-bottom: 0px;
}

.header img {
	margin-left: 15px;
	height: 50px;
}

.header .dropdown {
	margin-left: 0px;
}

.header .dropdown > button {
	color: #339966;
	padding-left: 20px;
	padding-right: 20px;
}

.navbar-header > button {
	height: 50px;
	background-color: white;
}

#research, #data-table {
	margin: 20px 0px;
}

#research {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

#container_form {
	padding: 30px 20px;
}

#container_form h2 {
	margin-bottom: 35px;
}

#container_form a {
	margin-left: 35px;
}

.container-accueil {
	margin: 5% 0%;
}

.glyphicon {
	margin: 0px 5px;
}

.police {
	font-size: 17px;
}
.titre {
	font-size: 23px;
}

#panel-pjs .panel-body, #panel-apercu .panel-body {
	overflow-y: scroll;
	padding: 0px;
}

#apercu {
	width: 100%;
	border: none;
}

/*Boite de dialogue pour l'envoi d'un mail*/
#mail_text {
	width: 100%;
}

/* Listes des pièces justificatives */
#panel-pjs li {
	cursor: pointer;
}
#panel-pjs li h5{
	margin: 0px;
}
#panel-pjs li:hover {
	background-image: none;
	background-color: gray;
	box-shadow: 1px 1px 5px black inset;
	color: white;
}
.onclick-pjs-li {	
	background-color: lightgray;
}

#confirmation_inscription {
	margin-top: 100px;
    width: 80%;
	padding: 30px;
	border: 1px solid #f1f1f1;
	background: #fff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.row {
	margin-bottom: 15px;
}

.input-date, .input-date input[type="date"] {
	width: 150px;
}

.icon {
	height: 50px;
	margin-right: 10px;
}

.icon-bmp {content: url('../img/icons/bmp-icon.png');}
.icon-jpeg {content: url('../img/icons/jpeg-icon.png');}
.icon-jpg {content: url('../img/icons/jpg-icon.png');}
.icon-pdf {content: url('../img/icons/pdf-icon.png');}
.icon-png {content: url('../img/icons/png-icon.png');}
.icon-tiff {content: url('../img/icons/tiff-icon.png');}
.icon-tif {content: url('../img/icons/tif-icon.png');}

@media screen and (max-width: 1200px) {
	#panel-pjs .panel-heading, #panel-apercu .panel-heading {
		height: 85px;
	}
	#panel-pjs .panel-body, #panel-apercu .panel-body {
		height: 660px;
	}
	#panel-pjs > .panel, #panel-apercu > .panel {
		height: 750px;
	}
}

@media screen and (min-width: 1200px) {	
	#panel-pjs .panel-heading, #panel-apercu .panel-heading {
		height: auto;
	}
	#panel-pjs .panel-body, #panel-apercu .panel-body {
		height: 1145px;
	}
	#panel-pjs > .panel, #panel-apercu > .panel {
		height: 1200px;
	}
}