.header {
	padding: 10px 32px;
	border: none;
	border-radius: 0px;
	background-color: #339966;
	color: white;
	box-shadow: 1px 1px 10px grey;
	margin-bottom: 0px;
}

.header img {
	margin-left: 15px;
	height: 50px;
}

.header .dropdown {
	margin-left: 0px;
}

.header .dropdown > button {
	color: #339966;
	padding-left: 20px;
	padding-right: 20px;
}

.navbar-header > button {
	height: 50px;
	background-color: white;
}

#research, #data-table {
	margin: 20px 0px;
}

#research {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

#container_form {
	padding: 30px 20px;
}

#container_form h2 {
	margin-bottom: 35px;
}

#container_form a {
	margin-left: 35px;
}

.container-accueil {
	margin: 5% 0%;
}

.glyphicon {
	margin: 0px 5px;
}

.police {
	font-size: 17px;
}
.titre {
	font-size: 23px;
}

#panel-pjs > .panel, #panel-apercu > .panel {
	height: 600px;
}

#panel-pjs .panel-body {
	overflow: auto;
	height: 545px;
}

iframe[name="apercu"] {
	border: none;
	width: 100%;
	height: 545px;
}

#panel-pjs li {
	cursor: pointer;
}

@media screen and (min-width: 992) {
	#panel-statut a {
		width: 150px;
	}
}