/******************************************************************/

/*     FEUILLE DE STYLE DES PAGES CÔTÉ TECHNICIEN (CONNECTÉ)      */

/******************************************************************/


/*------------------------------------------------------
 	CORPS DE LA PAGE
-------------------------------------------------------*/

body {
	font-family: "Calibri";
}

/*------------------------------------------------------
 	STYLE GÉNÉRAL
-------------------------------------------------------*/

.glyphicon {
    margin: 0 5px;
}

/*------------------------------------------------------
 	ENTÊTE DE LA PAGE
-------------------------------------------------------*/

.affix {
    z-index: 9999 !important;
    top: 0;
    width: 100%;
}

.affix + .container {
    padding-top: 71px;
}

.affix + .container {
    padding-top: 71px;
}

.header {
    margin-bottom: 0;
    padding: 10px 32px;
    border: none;
    border-radius: 0;
    color: white;
    background-color: #396;
    box-shadow: 1px 1px 10px grey;
}

.header .dropdown {
    margin-left: 0;
}

.header .dropdown > button {
    padding-right: 20px;
    padding-left: 20px;
    color: #396;
}

.header img {
    height: 50px;
    margin-left: 15px;
}

.navbar-header > button {
    height: 50px;
}

.navbar-menu-police {
    font-size: 17px;
}

/*------------------------------------------------------
 	CHAMPS DE SAISI POUR LA RECHERCHE
-------------------------------------------------------*/

.container-accueil {
    margin: 5% 0%;
}

#container_filters > .row > * {
    margin-bottom: 15px;
}

#research,
#data-table {
    margin: 20px 0;
}

#research {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

/*------------------------------------------------------
 	TABLEAUX RÉCAPITULATIFS DE LA PAGE D'ACCUEIL
-------------------------------------------------------*/

.table-item-title {
    font-size: 17px;
}

.table-header-title {
    font-size: 23px;
}

/*------------------------------------------------------
 	BOITE DE DIALOGUE POUR L'ENVOI DES MAILS
-------------------------------------------------------*/

#mail_text {
    width: 100%;
}

/*------------------------------------------------------
 	ZONE D'APERCU DES DOCUMENTS JUSTIFICATIFS
-------------------------------------------------------*/

#panel-apercu .panel-body,
#panel-pjs .panel-body {
    height: 1000px;
}

#apercu {
    width: 100%;
    height: inherit;
    border: none;
    padding: 0px;
}

/*------------------------------------------------------
 	LISTES DES PIÈCES JUSTIFICATIVES
-------------------------------------------------------*/

#panel-pjs .icon {
    height: 45px;
    margin-right: 10px;
}
#panel-apercu .panel-body,
#panel-pjs .panel-body {
    padding: 0;
}

#panel-pjs .panel-body {
    overflow-y: scroll;
}

#panel-pjs li.pj-selected h5 {
    cursor: default;
}

#panel-pjs a.btn {
    padding: 0px;
    padding-top: 4px;
    border-radius: 20px;
    height: 26px;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
    font-size: 15px;
    font-weight: none;
    align-items: center;
}

#panel-pjs .panel-heading h4.row,
#panel-apercu .panel-heading h4.row {
    background-color: lightgrey;
    color: black;
    font-size: 15px;
    margin-bottom: 0px;
    padding: 5px 0px;
}

#panel-pjs .panel-heading h4.row .glyphicon,
#panel-apercu .panel-heading h4.row .glyphicon{
    margin: 0px;
}

#panel-pjs div.button {
    padding: 0px;
    margin: 0px 2px;
}

#panel-pjs li div.row {
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

#panel-pjs li div.row div.text{
    overflow-wrap: anywhere;
}

.matricule {
    width: 100%;
    text-align: right;
    font-style: italic;
    font-size: 12px;
}

.pj-hovering {
    background-color: lightgray;
    box-shadow: 1px 1px 3px black inset;
    cursor: zoom-in;
}

.pj-selected {
    color: white;
    background-color: gray;
}

/*------------------------------------------------------
 	GESTION DES MESSAGES
-------------------------------------------------------*/

body:not(#body_sign) div.alert {
    margin: 30px 150px;
    margin-top: 0;
    margin-bottom: 20px;
    min-width: 440px;
}

body:not(#body_sign) div.alert > h3 {
    margin-top: 0;
}

#msg_close {
    float: right;
    font-size: 24px;
}

#msg_close:hover {
    color: rgb(0,0,0,0.25);
}

#msg_close + h3 {
    margin-top: 0;
}

/******************************************************************/

/*   FEUILLE DE STYLE DES PAGES DE CONNEXION ET D'INSCRIPTION     */

/******************************************************************/


/*------------------------------------------------------
 	CORPS DE LA PAGE 
-------------------------------------------------------*/

#body_sign {
    overflow-x: hidden;
    background-color: WhiteSmoke;
}

#body_sign #connexion {
    width: 600px;
    margin-top: 5%;
}

#body_sign #connexion h2 {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 10px;
}

#body_sign .container_sign {
    margin-bottom: 50px;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2) ,0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#body_sign div#inscription {
    width: 50%;
    margin-top: 50px;
}

#body_sign div#connexion {
    width: 40%;
    margin-top: 100px;
}

#body_sign div#confirmation_inscription {	
    width: 60%;
    margin-top: 100px;
}

#body_sign input[type=text],
#body_sign input[type=password] {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
}

#body_sign input[type=submit] {
    width: 100%;
    margin: 8px 0;
    padding: 14px 20px;
    border: 1px solid white;
    font-weight: bold;
    color: white;
    background-color: #03057b;
    transition: background-color 0.25s;
    cursor: pointer;
}

#body_sign input[type=submit]:hover {
    border: 1px solid #03057b;
    color: #03057B;
    background-color: white;
}

#body_sign label {
    margin-top: 16px;
}

#body_sign .float-right {
    float: right;
}

#body_sign div.certif {
    margin-bottom: 10px;
}

#body_sign .champ_obligatoire {
    font-style: italic;
    color: #03057B;
}

#body_sign div.champ_obligatoire {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*------------------------------------------------------
 	ENTÊTE DES PAGES
-------------------------------------------------------*/

#body_sign .header {
    margin-bottom: 0;
    padding: 10px 32px;
    border: none;
    border-radius: 0;
    color: white;
    background-color: #EFF6FB;
    box-shadow: 1px 1px 10px grey;
}

/*------------------------------------------------------
 	BOUTONS DES PAGES
-------------------------------------------------------*/

#body_sign a:not(.btn) {
    text-decoration: none;
    color: #03057B;
}

#body_sign a:not(.btn):hover {
    text-decoration: none;
    color: dodgerblue;
}

/*------------------------------------------------------
 	MESSAGES
-------------------------------------------------------*/

#body_sign div.alert {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#body_sign div.alert h3 {
	margin-top: 0px;
}

#body_sign div.alert h3 > *:not(.glyphicon) {
	font-size: 16px;
}

#body_sign div.alert h3 > *:not(.glyphicon):hover {
	font-size: 16px;
}

#body_sign div.alert h3 > .glyphicon:last-child {
	font-size: 12px;
}