#body_index {
	background: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	padding: 10px 32px;
	border: none;
	border-radius: 0px;
	background-color: #339966;
	color: white;
	box-shadow: 1px 1px 10px grey;
}

.welcome {
	background-color: white;
	color: #339966;
}

.header img {
	margin-left: 15px;
	height: 50px;
}

.header .dropdown {
	margin-left: 0px;
}

.header .dropdown > button {
	color: #339966;
	padding-left: 20px;
	padding-right: 20px;
}

.navbar-header > button {
	height: 50px;
	background-color: white;
}

#index_nav_bar {
	margin-top: 10px;
}

#index_nav_bar button {
	margin-left: 5px;
	box-shadow: 1px 1px 5px grey;
	height: 50px;
	font-size: 20px;
	transition: box-shadow 0.5s;
}

#index_nav_bar button:hover {
	box-shadow: none;
}

#index_buton {
	position: absolute;
	bottom: -50px;
}

#index_button button {
	font-size: 25px;
	margin-bottom: 15px;
}

#research, #data-table {
	margin: 20px 0px;
}

#research {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

#container_form {
	padding: 30px 20px;
}

#container_form h2 {
	margin-bottom: 35px;
}

#container_form a {
	margin-left: 35px;
}

#container_form input[type="text"], #container_form input[type="password"] {
	width: 450px;
}

.input-group{
	margin-top: 25px;
}

tr:nth-child(2n) {
	background-color: #e6fff2;
}